body{
	background-color: #F2FFFC;
	font-family: "Crimson Text", serif;
	font-size: 20px;
	line-height: 1.5; /*Usa 1.5x o tamanho default da página em pixels. Assim, se o tamanho em pixels for 20px, o line-heigth será 30px*/
}
main {
	box-sizing: border-box;
	width: 85%;
	float: left;
}
.titulo-principal{
	font-family: "Open Sans Condensed", sans-serif;
	text-align: center;
	color: #F2FFFC;
	background-color: rgb(120, 30, 60);
	font-size: 60px;
	padding: 20px;
	margin: 0;
	border-bottom: 10px solid #000000;
	text-transform: uppercase;
}
.conteudo-principal{
	width: 720px;
	margin: auto;
	padding: 30px 0;
}
h2{
	font-size: 30px;
	font-family: "Open Sans Condensed", sans-serif;
	clear: both;
}
p{
	margin: 20px 0;
	text-align: justify;
}

.titulo-navegacao{
	font-size: 30px;
	margin-bottom: 25px;
}
.navegacao-site{
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
    text-transform: lowercase;
    float: right;
}
.navegacao-site, .minha-foto{
	float: right;
	width: 15%;
	box-sizing: border-box;
	border-left: 10px solid black;
    border-bottom: 10px solid black;
}
.social-media-links li{
	display: inline-block;
}

.rodape-pagina{
	background-color: #000000;
	color: #F2FFFC;
	clear: both;
}
article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

ul {
    color: pink;
}
.navegacao-site ul li a {
    color: #FFFFFF;
}
strong{
	font-weight: bold;
}

em{
	font-style: oblique;
}
.social-media-links a{
	width: 40px;
	height: 40px;
	display: inherit;
	text-indent: -99999px;
}
.github{
	background-image: url(../imagens/github.png);
}
.twitter{
	background-image: url(../imagens/twitter.png);
}
.linkedin{
	background-image: url(../imagens/linkedin.png);
}